@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.6px;
  line-height: 1.5;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;

  background-color: #d6bbfb;
}
label {
  color: white;
  font-weight: 700;
  display: block;
}
.container {
  margin: 0 auto;

  max-width: 1200px;
}
form {
  display: grid;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0 0 5px black;

  background-color: #6172f3;
  grid-template-areas:
    "name email number"
    "message message message"
    "search submit  .";

  place-content: center;
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px 1rem;
}
.form-control:nth-child(1) {
  grid-area: name;
}
.form-control:nth-child(2) {
  grid-area: email;
}
.form-control:nth-child(3) {
  grid-area: number;
}
.form-control:nth-child(4) {
  grid-area: message;
  grid-column: 1/-1;
}
.form-control:nth-child(5) {
  grid-area: search;
}
.form-control:nth-child(6) {
  grid-area: submit;
}
.form-control:nth-child(4) textarea {
  width: 40rem;
}

input,
textarea {
  padding: 0.4rem 0.8rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(17, 53, 85);
}
.btn {
  border: none;
  font: inherit;
  padding: 0.4rem 0.8rem;
  background-color: lightseagreen;
  color: azure;
  font-size: 1.2rem;
  border-radius: 6px;
  margin-top: 1.4rem;
  font-weight: bold;
}
select {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
}
input:focus,
select:focus,
textarea:focus,
button:hover {
  background-color: #b9f6fe;
  color: black;
  transition: 0.5s;
}

@media (max-width: 800px) {
  body {
    overflow: hidden;
  }
  .btn {
    margin-top: 0;
  }
  form {
    grid-template-areas:
      "name"
      "email"
      "number"
      "message"
      "search"
      "submit";
  }
  .container {
    max-width: max-content;
    padding: 1em;
  }
  textarea {
    max-width: 20rem;
  }
}
